body{
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2B2B2B;
}

.container{
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-2{
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @extend %MuseoSC-500;
  font-size: 38px;
  line-height: 45px;
}

.breadcrambs {
  padding: 19px 0 15px;
  background-color: #fbfbfb;
  &__list {
    display: flex;
  }
  &__list-item+.breadcrambs__list-item {
    margin-left: 36px;
  }
  &__list-item {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 6px;
      height: 10px;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__list-link{
    color: #555759;
    font-size: 15px;
    line-height: 19px;
    @extend %MuseoSC-300;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

