$default: #2B2B2B;


%MuseoSC-300{
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
}
%MuseoSC-500{
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-weight: 500;
}
%MuseoSC-700{
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
}
%MuseoSC-900{
  font-family: 'MuseoSansCyrl-900', sans-serif;
  font-weight: 900;
}