@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 16px 0 13px;
  &__wrapper{
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__line{
    height: 2px;
    max-width: 100%;
    background-color: #F5F5F5;
    margin-top: -2px;
  }
}
.logo{
  margin-right: 30px;
  &__link-img{
    width: 100%;
    min-width: 193px;
  }
}
.main{
  &__list{
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__list-item{
    padding-bottom: 10px;
  }
  &__list-item--active{
    border-bottom: 2px solid #E84735;
    .main__list-link{
      color: #E84735;
    }
  }
  &__list-item + .main__list-item{
    margin-left: 20px;
  }
  &__list-item:last-child{
    position: relative;
    a{
      padding-right: 12px;
    }
    &:after{
      content: '';
      position: absolute;
      background-image: url("../images/icons/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 6px;
      height: 4px;
      top: 8px;
      right: 0px;
    }
  }
  &__list-link{
    color: #ADADAD;
    font-weight: 600;
  }
}

.header-top{
  display: flex;
  justify-content: space-between;
  &__info{
    display: flex;
  }
  &__info-item+.header-top__info-item{
    margin-left: 20px;
  }
  &__info-link{
    @extend %MuseoSC-300;
    color: #555759;
  }
  &__info-item:nth-child(4) a,
  &__info-item:nth-child(5) a{
    position: relative;
    padding-left: 21px;
    &:before{
      content: '';
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }
  }
  &__info-item:nth-child(4) a:before {
    background-image: url("../images/icons/maps.svg");
  }
  &__info-item:nth-child(5) a:before{
    background-image: url("../images/icons/user.svg");

  }
}

.header-bottom{
  padding-top: 11px;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
  &__list{
    display: flex;
  }
  &__list-item+.header-bottom__list-item{
    margin-left: 35px;
  }
  &__list-link{
    font-weight: 600px;
    font-size: 15px;
    color: #2B2B2B;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form{
    display: flex;
    align-items: center;
  }
  &__form-btn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  &__form-input {
    max-width: 58px;
    @extend %MuseoSC-700;
    font-size: 16px;
    line-height: 20px;
    color: #A6A6A6;
    border: none;
    padding: 5px;
  }
  &__line{
    width: 2px;
    height: 50px;
    background-color: #F5F5F5;
    margin: 0 30px;
  }
  &__link{
    width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #FA4907;
    padding: 15px 27px;
    border-radius: 3px;
    text-align: center;
  }
}



.top{
  background-color: #202342;
  min-height: 470px;
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__content{
    max-width: 380px;
    margin-right: 120px;
  }
  &__title{
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 34px;
  }
  &__subtitle{
    font-size: 30px;
    line-height: 36px;
    @extend %MuseoSC-300;
    color: #fff;
    margin-bottom: 47px;
  }
  &__link{
    width: 220px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #FA4907;
    padding: 15px 27px;
    border-radius: 3px;
    text-align: center;
  }
  &__img{
    object-fit: cover;
    background: linear-gradient(179.72deg, rgba(32, 35, 66, 0) 59.64%, #202342 99.75%),
    linear-gradient(274.75deg, #202342 0%, rgba(32, 35, 66, 0) 25.11%),
    linear-gradient(89.24deg, #202342 -0.02%, rgba(32, 35, 66, 0) 31.9%),
    linear-gradient(180deg, #202342 0%, rgba(34, 37, 68, 0) 26.13%),
    url(image.png);
  }
}

.tariffs{
  padding: 80px 0;
  &__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 50px;
  }
  &__link{
    @extend %MuseoSC-500;
    color: #A6A6A6;
    font-size: 16px;
    position: relative;
    padding-right: 16px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-left2.svg');
      width: 8px;
      height: 12px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.tariffs-item{
  &--dark{
    color: #000;
    background-color:#2B2B2B;
    .tariffs-item__title,
    .tariffs-item__subtitle,
    .tariffs-item__box-text,
    .tariffs-item__info,
    .tariffs-item__info-title,
    .tariffs-item__price,
    .tariffs-item__link{
      color: #fff;
    }
    .tariffs-item__btn{
      background-color: #fff;
      color: #F04E37;
    }
    .tariffs-item__hit{
      position: absolute;
      background-image: url(../images/icons/flag.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 33px;
      height: 48px;
      top: 0;
      right: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        color: #fff;
        font-size: 11px;

      }
    }

  }
  box-sizing: border-box;
  max-width: 300px;
  padding: 22px 16px 24px;
  position: relative;
  box-shadow: 0px 0.266004px 20px rgba(11, 5, 85, 0.17);
  border-radius: 10px;
  margin: 20px 0;
  &__title{
    @extend %MuseoSC-700;
    font-size: 20px;
    line-height: 26px;
    max-width: 210px;
    margin-bottom: 10px;
    min-height: 52px;
  }
  &__subtitle{
    font-size: 12px;
    font-family: 'Open Sans';
    line-height: 15px;
    margin-bottom: 7px;
  }
  &__box-text{
    padding-top: 5px;
    min-height: 140px;
    border-bottom: 1px solid #F5F5F5;
  }
  &__text{
    position: relative;
    padding-left: 27px;
    margin-bottom: 16px;
    &::before{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
    }
    &:first-child::before{
      background-image: url('../images/icons/infinity.svg');
      width: 18px;
      height: 18px;
    }
    &:nth-child(2)::before{
      background-image: url('../images/icons/phone.svg');
      width: 18px;
      height: 18px;
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/phone-outgoing.svg');
      width: 18px;
      height: 18px;
    }
    &:nth-child(4)::before{
      background-image: url('../images/icons/phone-call.svg');
      width: 18px;
      height: 19px;
    }
  }
  &__text{
    @extend %MuseoSC-500;
  }
  &__info{
    padding: 8px 0 15px;
    border-bottom: 1px solid #F5F5F5;
  }
  &__info-title{
    @extend %MuseoSC-300;
    color: #ADADAD;
    margin-bottom: 10px;
  }
  &__info-text{
    @extend %MuseoSC-500;
    margin-bottom: 3px;
  }
  &__price{
    text-align: right;
    margin-top: 28px;
    font-size: 40px;
    line-height: 40px;
    @extend %MuseoSC-500;
    span{
      font-family: "Roboto";
      font-weight: 400;
      font-size: 18px;
    }
  }
  &__btn{
    width: auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #FA4907;
    padding: 15px 27px;
    border-radius: 3px;
    text-align: center;
  }
  &__link{
    display: block;
    margin-top: 14px;
    @extend %MuseoSC-300;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
  }
}
.swiper-container {
  width: 1320px;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide{
  width: 300px !important; 
  margin: 0 15px !important;
}
.swiper-container .swiper-pagination{
  bottom: -42px;
}

.swiper-navigation{
  position: relative;
  top: -288px;;
  display: flex;
  justify-content: space-between;
}
#swiperPrev,
#swiperNext{
  width: 50px;
  height: 50px;
  box-shadow: 0px 0.2660040855407715px 10px 0px #9998A833;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  z-index: 10;
}

#swiperNext{
  
}

.services{
  padding: 80px 0;
  background-color: #F5F5F5;
  &__items{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.services-item{
  box-shadow: 0px 0.266004px 20px rgba(153, 152, 168, 0.17);
  border-radius: 10px;
  max-height: 334px;
  background-color: #fff;
  padding: 30px 40px;
  &:nth-child(1) {
    width: 740px;
  }
  &:nth-child(2) {
    width: 520px;
  }
  &:nth-child(3) {
    width: 520px;
  }
  &:nth-child(4) {
    width: 740px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    @extend %MuseoSC-500;
    margin-bottom: 25px;
  }
}
.services-invoices{
  &__tabs{
    display: flex;
  }
  &__tab{
    margin-right: 30px;
    font-size: 16px;
    line-height: 23px;
    @extend %MuseoSC-500;
    padding-bottom: 15px;
    cursor: pointer;
  }
  &__tab--active{
    color: #F04E37;
    border-bottom: 2px solid #FA4907;
  }
  &__line{
    width: 100%;
    height: 1px;
    background-color: #F9FAFB;
    margin-top: -1px;
    margin-bottom: 28px;
  }
  &__form{
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
  }
  &__form-box{
    display: flex;
    flex-direction: column;
    &:nth-child(1){
      width: 311px;
    }
    &:nth-child(2){
      width: 126px;
    }
  }
  &__form-span{
    font-size: 12px;
    line-height: 19px;
    @extend %MuseoSC-300;
    color: #A6A6A6;
  }
  &__form-input{
    height: 54px;
    padding: 14px 16px;
    color: #A6A6A6;
    margin-right: 14px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    margin-top: 5px;
  }
  &__form-btn{
    border: none;
    width: 189px;
    height: 54px;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #FA4907;
    padding: 15px 27px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
}

.services-cabinet{
  display: flex;
  &__content{
    width: 222px;
  }
  &__text{
    max-width: 201px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 94px;
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-right: 43px;
    color: $default;
    &::after{
      content: '';
      position: absolute;
      background-image: url("../images/icons/arrowBig_right.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 29px;
      height: 17px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  &__box-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__img{
    
  }
}

.services-tran{
  background-color: #FA4907;
  &__title{
    font-size: 26px;
    line-height: 34px;
    width: 387px;
    margin-bottom: 43px;
    color: #fff;
    position: relative;
    padding-left: 74px;
    &:before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/logo-mini.svg');
      width: 54px;
      height: 61px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;  
    }
  }
  &__form-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 44px;
  }
  &__form-box{
    margin-right: 10px;
    &:nth-child(1){
      width: 264px;
      .services-tran__form-input {
        width: 264px;
      }
    } 
    &:nth-child(2) {
      width: 188px;
      .services-tran__form-input {
        width: 188px;
      }
    }
  }
  &__form-span{
    font-size: 12px;
    line-height: 19px;
    @extend %MuseoSC-300;
    color: #fff;
  }
  &__form-input{
    height: 54px;
    padding: 14px 16px;
    color: #A6A6A6;
    margin-right: 14px;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
  }
  &__form-btn{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 15px 30px;
    height: 54px;
    border-radius: 3px;
    width: 100%;
    color: #fff;
  }
  &__label{
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
  }
  &__label-input{
    @extend %checkbox-hidden;
    &:checked+.services-tran__label-checkbox::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 18px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__label-checkbox{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #D4D4D4;
    border-radius: 4px;
    position: relative;
    margin-right: 12px;
  }
}

.cashback{
  padding: 80px 0 40px;
  &__title{
    margin-bottom: 48px;
  }
  &__subtitle{
    @extend %MuseoSC-300;
    font-size: 16px;
    color: #555759;
    line-height: 26px;
    margin-bottom: 46px;
    max-width: 582px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    flex: 1 1 100%;
    box-shadow: 0px -2px 6px rgba(218, 218, 218, 0.25),
    0px 2px 4px rgba(218, 218, 218, 0.25),
    0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 19px rgba(51, 51, 51, 0.1);
    border-radius: 10px;
    padding: 37px 32px;
    position: relative;
    min-height: 338px;
    &:nth-child(1){
      background-color: rgba(213, 221, 223, 0.25);
      margin-right: 15px;
      background-image: url('../images/cashback/cashback-img1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      .cashback__item-text{
        max-width: 470px;
      }
      &:hover{
        background-color: none;
        &:after{
          content: '';
          position: absolute;
          background-image: url('../images/cashback/cashback-img3.png');
          background-repeat: no-repeat;
          width: 374px;
          height: 311px;
          top: 0;
          right: 0;
        }
        .cashback__item-title{
          max-width: 500px;
        }
        .cashback__item-text{
          max-width: 380px;
          line-height: 32px;
        }
      }
    }
    &:nth-child(2){
      background-color: #FDDD64;
      margin-left: 15px;
      .cashback__item-text {
        max-width: 270px;
      }
      &:hover{
        background-color: none;
        &:after {
          content: '';
          position: absolute;
          background-image: url('../images/cashback/cashback-img4.png');
          background-repeat: no-repeat;
          width: 579px;
          height: 377px;
          top: 0;
          right: 0;
        }
        .cashback__item-img {
          display: none;
        }
      }
    }
    &:hover {
      background: linear-gradient(99.54deg, #FA7007 3.54%, #FA4907 73.5%);
      .cashback__item-title {
        margin-bottom: 79px;
      }
      .cashback__item-title{
        max-width: 500px;
      }
      .cashback__item-title,
      .cashback__item-text{
        position: relative;
        z-index: 10;
        color: #fff;
      }
      .cashback__item-link{
        z-index: 10;
        color: #fff;
      }
    }
  }
  &__item-title{
    color: #FA4907;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
    max-width: 254px;
    margin-bottom: 36px;
  }
  &__item-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #555759;
  }
  &__item-link{
    position: absolute;
    left: 32px;
    bottom: 37px;
    color: #FA4907;
    text-decoration: underline;
    font-size: 16px;
  }
  &__item-img{
    position: absolute;
    top: 0;
    right: 30px;
  }
}

.info{
  padding: 40px 0;
  &__title{
    margin-bottom: 52px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
.info-item{
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover{
    .info-item__content-img{
      display: block;
    }
  }
  &__box-img{
    max-width: 420px;
    max-height: 329px;
    background-size: cover;
  }
  &__content{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 22px;
  }
  &__content-img{
    display: none;
  }
}

.questions{
  padding: 40px 0 80px;
  &__title{
    margin-bottom: 50px;
  }
  &__item-title{
    padding: 20px 0 20px 42px;
    border-top: 2px solid #F5F5F5;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-bottom.svg');
      width: 12px;
      height: 8px;
      left: 6px;
      top: 25px;
    }
  }
  &__items{
    margin-bottom: 23px;
    max-width: 1180px;
    width: 100%;
  }
  &__item{
    &:nth-child(1){
      .questions__item-title{
        border-top: none;
      }
    }
    &:last-child{
      border-bottom: 2px solid #F5F5F5;
    }
  }
  &__item--active{
    .questions__item-title{
      &:before{
        background-image: url('../images/icons/arrow-top.svg');
      }
    }
    .questions__item-title{
      color: #E84735;
    }
    .questions__item-content{
      display: block;
    }
  }
  &__item-title{
    cursor: pointer;
    font-size: 16px;
  }
  &__item-content{
    margin: 10px 0 20px 42px;
    display: none;
  }
  &__item-text{
    margin-bottom: 12px;
    @extend %MuseoSC-300;
    font-size: 16px;
    line-height: 26px;
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-right: 16px;
    color: $default;
    &:after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/questions_arrowRight.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 8px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}


.connection{
  padding: 74px 0;
  background-color: #F5F5F5;
  background-image: url('../images/connection_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 80%;
  &__wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    margin-bottom: 35px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555759;
    margin-bottom: 30px;
  }
  &__number{
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    margin-bottom: 30px;
    color: $default
  }
  &__form{
    max-width: 630px;
    width: 100%;
  }
  &__form-box{
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 22px;
  }
  &__form-input{
    flex: 1 1 100%;
    height: 54px;
    padding: 14px 16px;
    color: #A6A6A6;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    &:first-child{
      margin-right: 10px;
    }
  }
  &__textarea{
    padding: 14px 16px;
    color: #A6A6A6;
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
    width: 100%;
    resize: none;
    height: 95px;
  }
  &__form-btn{
    display: block;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #FA4907;
    padding: 17px 50px;
    border-radius: 3px;
    cursor: pointer;
    margin: 22px 0 0 auto;
  }
}

.footer{
  background-color: $default;
  padding: 62px 37px;
  color: #fff;
  &__wrapper{

  }
  &__top{
    padding-bottom: 44px;
    border-bottom: 1px solid #A6A6A6;
  }
  &__bottom{
    padding-top: 37px;
    border-top: 1px solid #A6A6A6;
  }
}

.footer-top{
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 300px;
    width: 100%;
  }
  &__item-title{
    @extend %MuseoSC-500;
    font-size: 20px;
    margin-bottom: 18px;
  }
  &__list-item+.footer-top__list-item{
    margin-top: 15px;
  }
  &__list-link{
    font-size: 16px;
    @extend %MuseoSC-300;
    color: #fff;
  }
  &__item-link{
    display: inline-block;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 16px 41px;
    border-radius: 3px;
    color: #fff;
    margin-top: 41px;
  }
}

.footer-bottom{
  &__inner{
    display:flex;
    justify-content: space-between;
  }
  &__info{
    max-width: 770px;
  }
  &__list{
    display: flex;
  }
  &__list-item+.footer-bottom__list-item{
    margin-left: 70px;
  }
  &__list-link{
    @extend %MuseoSC-500;
    font-size: 16px;
    color: #fff;
  }
  &__text{
    margin: 35px 0 37px;
    @extend %MuseoSC-300;
    font-size: 16px;
    color: #A6A6A6;
    line-height: 20px;
  }
  &__copy{
    @extend %MuseoSC-300;
  }
  &__contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__contact-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #A6A6A6;
    margin-bottom: 7px;
  }
  &__contact-number{
    @extend %MuseoSC-500;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 30px;
    color: #fff;
  }
  &__contact-social{
    display: flex;
  }
  &__contact-link{
    margin-left: 28px;
  }
}

@import 'media';